body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
}
.half-width{
    width: 50%;
}
.img1{
    width:70%;
    margin-bottom: 5%;
    margin-left: 7%;
}
.header-bio{
    padding-left: 10%;
    padding-top: 5%;
}
h1{
    font-size: 60px;
}
.orange{
    color:orange
}
.head{
    border-left: 5px solid;
    border-image:linear-gradient(tomato,tomato);
    border-image-slice: 1;
    padding-left: 20px;
}
a{
    text-decoration: none;
    font-size: 18px;
    background-color: tomato;
    color: white;
    padding:10px 20px;
    border:none;
    border-radius: 5px;
    margin-top: 10%;
    margin-bottom: 10%;
}
h2{
    font-size: 50px;
    text-align: center;
}
.mission-card{
    display: flex;
    margin-left: 15%;

}
.mission{
    width: 250px;
    background-color: thistle;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 20px;
}
.mission img{
    width: 40%;
}
.vission{
    width: 250px;
    background-color:lavender;
    margin: 10px 20px;
    padding: 10px 20px;
    border-radius: 20px;
}
.vission img{
    width: 40%;
}
.goals{
    width: 250px;
    background-color:aquamarine;
    margin: 10px 20px;
    padding: 10px 20px;
    border-radius: 20px;
}
.goals img{
    width: 40%;
}
.devlop-area{
    display: flex;
    margin-top: ;
}
#dev-bg{
   background-image: url(images/shape-1.png); 
   background-repeat: no-repeat;
   background-position:left;
}
    .img2{
        width:50%;
        margin-left: 25%;
        margin-top: 10%;
    }
    .devlop-el{
        margin-right: 15%;
        margin-top: 10%;
    }
    h4{
        font-size: 30px;
    }
    .devlop-area{
        display: flex;
        margin-top: ;
    }
    .global-el{
        margin-left: 20%;
        margin-top: 12%;
    }
    .contact{
        text-align: center;
        
    }
    h5{
        font-size: 30px;
        padding-top: 5%;
    }
    .contact-area{
        background-color: teal;
        color: white;
        margin-bottom: 0;
        margin-left: 40px;
        margin-right: 40px;
    }
    .form{
        margin-top: 10%;
    }
    .img3{
        width:60%;
        height: 70%;
        margin-left: 30%;
        margin-top: 10%;
    }
    input{
        width:60%;
        height: 50px;
        border:none;
        border-radius: 10px;
    }
    textarea{
        border: none;
        border-radius: 10px;
    }
    footer{
        margin-top: 0;
        padding-bottom: 5%;
        text-align: center;
        background-color: black;
        color: white;
    }
    .tomato{
        color: tomato;
    }